<!DOCTYPE html>
<html>
<head>
  <title>Lifelog</title>
  <%= stylesheet_link_tag    params[:controller] %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
	
	<a class="navbar-brand" href="<%= root_path %>">
	  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
	</a>

	<a class="navbar-brand" href="<%= new_timelog_path %>">
	  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	</a>

	<!-- <%= link_to 'Category', time_categories_path %> -->

	<a class="navbar-brand" href="<%= time_timelogs_path %>">
	  <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
	</a>

	<a class="navbar-brand" href="<%= url_for controller: 'timelogs' %>">
	  <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
	</a>

	<a class="navbar-brand" href="<%= url_for controller: 'categories' %>">
	  <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
	</a>

	<a class="navbar-brand" href="<%= url_for controller: 'clothes' %>">
	  <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
	</a>
	
      </div>      
    </div>
  </nav>
  
<%= yield %>

</body>
</html>
